.allpage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


@media screen and (max-width: 820px) {
  .allpage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
}

/* Register page css here */
.registerpopup {
  height: 550px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .registerpopup {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .registerpopup {
    height: 600px;
    width: 100%;
  }
}

.bg-image {
  background-image: url('https://images.pexels.com/photos/1957477/pexels-photo-1957477.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-repeat: no-repeat;
  background-size: cover;
}

.pagesidebtn:hover {
  background-color: rgb(226, 226, 36) !important;
}

/* Login page css here */
.loginpopup {
  height: 550px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .loginpopup {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .loginpopup {
    height: 600px;
    width: 100%;
  }
}

.bg-image-login {
  background-image: url('https://images.pexels.com/photos/2528116/pexels-photo-2528116.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-repeat: no-repeat;
  background-size: cover;
}

.loginpagesidebtn:hover {
  background-color: rgb(226, 226, 36) !important;
}